{% extends "base.html" %}

{% block title %} Remove Background Image {% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block content %}
      <section class="container">

           <div class="card mt-2">
              <div class="card-header">
                Remove background image
              </div>
              <div class="card-body">
                <h5 class="card-title">Load Image File</h5>
                <br>
                <form method="post" action="/removebg" enctype="multipart/form-data">
                    <div class="mb-3">
                      <label for="formFile" class="form-label">File Image (jpg, jpeg, webp, png)</label>
                      <input class="form-control" type="file" id="formFile" name="file_image">
                    </div>
                  <button type="submit" class="btn btn-primary">Process</button>
                </form>
                  <br>
              {% if data %}
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        {% for message in messages %}
                          <div class="alert alert-success" role="alert">{{ message }}</div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                    <img src = "{{ data }}" alt="result without background" class="img-fluid rounded mx-auto d-block" />
              {% endif %}
              </div>
          </div>

      </section>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

