{% extends "base.html" %}

{% block title %} Youtube Downloader {% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block content %}
      <section class="container">

           <div class="card mt-2">
              <div class="card-header">
                Youtube Downloader
              </div>
              <div class="card-body">
                <h5 class="card-title">Enter Youtube video URL</h5>
                <br>
                <form method="post" action="/youtubedownloader">
                  <div class="mb-3">
                    <label for="link" class="form-label">URL Video</label>
                    <input type="text" value="{{ data }}" name="link" class="form-control" id="barcode" placeholder="Type url">
                  </div>
                  <button type="submit" class="btn btn-primary">Download</button>
                </form>
                  <br>
              {% if data %}
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        {% for message in messages %}
                          <div class="alert alert-success" role="alert">{{ message }}</div>
                            <a href="/download/{{ filename }}">Click here to download</a>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
              {% endif %}
              </div>
          </div>

      </section>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

